<< set headObj=[
     [
		{name:"学校概况",href:"http://www.ncepu.edu.cn/xxgk/xxjj/index.htm"},
		{name:"院系设置",href:"faculty_settings.html"},
		{name:"机构设置",href:"institutional_settings.html"}
     ],
     [
		{name:"师资队伍",href:"http://202.206.208.58/rshch/webpages/default.aspx"},
		{name:"国际交流",href:"http://icd.ncepu.edu.cn/"},
		{name:"招生就业",href:"recurit_and_employment.html"}
     ],
     [
		{name:"文献资料",href:"http://202.206.214.254/"},
		{name:"邮件系统",href:"http://email.ncepubd.edu.cn/cgi-bin/index.cgi"},
		{name:"English",href:"http://english.ncepu.edu.cn/"}
     ]
   ]
>>
<< set rightObj=[
		{name:"新闻中心",href:"http://news.ncepu.edu.cn/",classname:"u-icon-nav-blue"},
		{name:"华电大讲堂",href:"http://202.206.208.57/LH/",classname:"u-icon-nav-blue"},
		{name:"青年之声",href:"http://qnzs.youth.cn/2016jyj/",classname:"u-icon-nav-blue"},
		{name:"OA系统",href:"http://202.206.208.53/OA/Default.MSPX",classname:"u-icon-nav-blue"},
		{name:"教务信息",href:"http://59.67.225.73/jiaowuchu/",classname:"u-icon-nav-blue"},
		{name:"仿真教学",href:"http://59.67.225.73/syjx/default.html",classname:"u-icon-nav-blue"},
		{name:"人才招聘",href:"http://202.206.208.65/zhaopin.aspx",classname:"u-icon-nav-blue"},
		{name:"精品课堂",href:"http://202.206.208.43/ECWeb/notice.htm",classname:"u-icon-nav-blue"},
		{name:"科技学院",href:"http://www.hdky.edu.cn/",classname:"u-icon-nav-blue"}
	] 
>>
<< set friendObj=[
		{name:"大学主页",href:"http://www.ncepubbs.cn/",classname:"link"},
		{name:"缘路有你",href:"http://www.ncepubbs.cn/",classname:"link"},
		{name:"网络服务",href:"http://202.206.208.58/wlzx/Second.aspx?id1=103&id2=104",classname:"link"},
		{name:"VOD点播",href:"http://202.206.223.102/",classname:"link"}
	]
>>